{% extends "base.html" %}

{% block content %}

<h1>{{ user.username }}</h1>
<hr/>

{% for rest in user.restaurantlocation_set.all %}
	<div class="row" style="padding: 15px">
		<div class="col-sm-12">
			<div class="card mx-auto  w-50">
				<div class='card-body'>
					<h3>{{ rest.title }}</h3> 
					<p>{{ rest.location }} | {{ rest.category }}</p>
						<ul>
							{% for item in rest.item_set.all %}
								<li style='margin-bottom: 15px;'><b>{{ item.name }}</b>
									<br/>
									{% for ing in item.get_contents %}
										<span style='padding: 2px 4px; margin-right:4px; '>{{ ing }}</span>
									{% endfor %}
								</li>
							{% endfor %}
						</ul>
				</div>
			</div>			
		</div>
	</div>
{% endfor %}



{% endblock content %}